.navbar-container {
  background-color: rgb(4, 100, 17);
}

.navbar-content {
  align-items: center;
  display: flex;
}

.navbar-title {
  color: rgb(218, 246, 218);
  font-weight: bold;
  font-size: 35px;
}

.navbar-username {
  right: 0;
  color: white;
}

.navbar-title:hover {
  color: lightgray;
  font-weight: bold;
}

.navbar-signout-button {
  margin-left: 10px;
}
